<template name="filmForm">
	<form class="col s12">
		<div class="row">
			<div class="form-group input-field col s10">
	<!--		Film form field -->
				<i class="fa fa-film prefix"></i>
				<input name="film" id="icon_prefix" type="text" class="validate">
				<label for="icon_prefix">Movie</label>
			</div>

			<div class="form-group input-field col s2">
	<!--			Year form field -->
				<i class="fa fa-calendar-o prefix"></i>
				<input name="year" id="icon_calendar" type="text" class="validate">
				<label for="icon_calendar">Year</label>
			</div>
			<button type="submit" id="add-movie" class="btn waves-effect waves-light">Add</button>
		</div>
	
	</form>
</template>